<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459625688346-498imk84qm92m3i9ciuqsh47ghvc4bdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459625688346-498imk84qm92m3i9ciuqsh47ghvc4bdh</string>
	<key>API_KEY</key>
	<string>AIzaSyBeX_OohMowNqG8X0uzcM7Fsxq73BAm_Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>459625688346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lehuong.IFoundIt</string>
	<key>PROJECT_ID</key>
	<string>ifoundit032019</string>
	<key>STORAGE_BUCKET</key>
	<string>ifoundit032019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459625688346:ios:8963ade5fef4f744</string>
	<key>DATABASE_URL</key>
	<string>https://ifoundit032019.firebaseio.com</string>
</dict>
</plist>